## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Urgut,UZ,2021-10-22 18:51:41,39.4022,67.2431,37.02,63,38,2.42,scattered clouds
1,1,Husavik,IS,2021-10-22 18:51:41,66.0449,-17.3389,33.71,92,100,7.07,light snow
2,2,Pir,RO,2021-10-22 18:51:42,47.4667,22.3667,55.51,70,100,5.10,overcast clouds
3,3,Marawi,PH,2021-10-22 18:49:27,7.9986,124.2928,67.64,94,100,1.16,overcast clouds
4,4,Hithadhoo,MV,2021-10-22 18:51:43,-0.6000,73.0833,81.37,75,28,8.25,scattered clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like?"))
max_temp = float(input("What is the maximum temperature you would like?"))

What is the minimum temperature you would like?75
What is the maximum temperature you would like?80

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
14,14,Harper,LR,2021-10-22 18:51:46,4.3750,-7.7169,77.25,89,100,8.10,light rain
25,25,Georgetown,MY,2021-10-22 18:48:12,5.4112,100.3354,78.89,91,40,5.99,thunderstorm
30,30,Avarua,CK,2021-10-22 18:51:52,-21.2078,-159.7750,75.25,53,75,3.44,broken clouds
45,45,Kapaa,US,2021-10-22 18:51:57,22.0752,-159.3190,77.32,90,40,1.99,light rain
52,52,Puerto Ayora,EC,2021-10-22 18:51:59,-0.7393,-90.3518,78.76,81,78,9.80,broken clouds
56,56,Sokoni,TZ,2021-10-22 18:52:01,-6.4333,39.5500,77.94,77,8,12.97,clear sky
62,62,Atuona,PF,2021-10-22 18:52:03,-9.8000,-139.0333,77.61,79,17,19.17,few clouds
76,76,Cam Ranh,VN,2021-10-22 18:52:09,11.9214,109.1591,76.96,88,20,4.61,few clouds
78,78,Dicabisagan,PH,2021-10-22 18:52:10,17.0818,122.4157,76.87,89,41,5.44,scattered clouds
82,82,Mahebourg,MU,2021-10-22 18:52:11,-20.4081,57.7000,75.25,83,75,6.91,broken clouds

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().any()

City_ID                False
City                   False
Country                False
Date                   False
Lat                    False
Lng                    False
Max Temp               False
Humidity               False
Cloudiness             False
Wind Speed             False
Weather Description    False
dtype: bool

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_city_df = preferred_cities_df.dropna()
clean_city_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
14,14,Harper,LR,2021-10-22 18:51:46,4.3750,-7.7169,77.25,89,100,8.10,light rain
25,25,Georgetown,MY,2021-10-22 18:48:12,5.4112,100.3354,78.89,91,40,5.99,thunderstorm
30,30,Avarua,CK,2021-10-22 18:51:52,-21.2078,-159.7750,75.25,53,75,3.44,broken clouds
45,45,Kapaa,US,2021-10-22 18:51:57,22.0752,-159.3190,77.32,90,40,1.99,light rain
52,52,Puerto Ayora,EC,2021-10-22 18:51:59,-0.7393,-90.3518,78.76,81,78,9.80,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
510,510,Banda Aceh,ID,2021-10-22 18:55:00,5.5577,95.3222,79.57,81,100,2.80,overcast clouds
543,543,Gwanda,ZW,2021-10-22 18:55:14,-20.9333,29.0000,79.34,33,16,2.82,few clouds
551,551,Ewa Beach,US,2021-10-22 18:55:18,21.3156,-158.0072,79.68,73,75,10.00,broken clouds
553,553,Fare,PF,2021-10-22 18:55:18,-16.7000,-151.0167,78.93,80,71,16.73,light rain
558,558,Garowe,SO,2021-10-22 18:55:20,8.4054,48.4845,76.93,71,14,16.44,few clouds

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_city_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
14,Harper,LR,77.25,light rain,4.3750,-7.7169,
25,Georgetown,MY,78.89,thunderstorm,5.4112,100.3354,
30,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,
45,Kapaa,US,77.32,light rain,22.0752,-159.3190,
52,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,
56,Sokoni,TZ,77.94,clear sky,-6.4333,39.5500,
62,Atuona,PF,77.61,few clouds,-9.8000,-139.0333,
76,Cam Ranh,VN,76.96,few clouds,11.9214,109.1591,
78,Dicabisagan,PH,76.87,scattered clouds,17.0818,122.4157,
82,Mahebourg,MU,75.25,broken clouds,-20.4081,57.7000,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel Not Found... Skipping.")

Hotel Not Found... Skipping.
Hotel Not Found... Skipping.
Hotel Not Found... Skipping.
Hotel Not Found... Skipping.
Hotel Not Found... Skipping.

In [20]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].isnull().values.any()
hotel_df.dropna()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
14,Harper,LR,77.25,light rain,4.3750,-7.7169,Screensaver
25,Georgetown,MY,78.89,thunderstorm,5.4112,100.3354,Cititel Penang
30,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
45,Kapaa,US,77.32,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
52,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
510,Banda Aceh,ID,79.57,overcast clouds,5.5577,95.3222,Sulthan Hotel International
543,Gwanda,ZW,79.34,few clouds,-20.9333,29.0000,Mafax Homeways
551,Ewa Beach,US,79.68,broken clouds,21.3156,-158.0072,Uncle Junior Robert
553,Fare,PF,78.93,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
558,Garowe,SO,76.93,few clouds,8.4054,48.4845,Curubo Hotel

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df = hotel_df 
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [38]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F </dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
humidity = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))